html{
 background-color: rgb(247, 248, 248);
}

header{
    background-color: #ffab3c;
    text-align: center;
}


li{
    text-align: center;
}

img{
    place-items: center;
}

footer{
    text-align: center;
}
.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 140%;
}

nav {
    background-color: #ffab3c;
 
  color: #fff;
  padding: 20px;
  text-align: center;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: inline-block;
}

nav li {
    display: inline-block;
    margin-right: 20px;
  }
nav a {
    color: #fff;
    text-decoration: none;
  }
  

button {
    background-color: #ffab3c;
  border: none;
  border-radius: 10px;
  color: rgb(255, 255, 255);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  
}

#button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 15%; 
}

.d_images {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}
@media (max-width: 600px;) {

 div {
  height: 200px;
  width: 200px;
 }
}
  
